@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --blue--lighter: #e7eff6;
  --blue--lighter60: rgba(231, 239, 246, 0.6);
  --blue--light: #bbd5ed;
  --blue: #294c60;
  --blue--dark: #001b2e;
  --blue--dark60: rgba(0, 27, 46, 0.6);
  --blue--darker: #00101b;

  --black: #000;

  --white: #fff;

  --green-yellow: #ddf9c1;
  --green-yellow--darker: #84e296;

  --swedish-blue: #3c6aa4;
  --swedish-yellow: #ecd11c;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--blue--dark);

  --color-text: var(--green-yellow);
  --color-text--dark: var(--green-yellow--darker);

  --horizontal--padding: 24px;
  --vertical--padding: 100px;

  --site-max-width: 700px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
  margin: 1px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
