@import './base.css';

/* #app {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
} */
#app > * {
  animation: site-load 0.4s forwards ease-in-out;
}
@keyframes site-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* GENERAL */
a {
  text-decoration: underline;
  color: var(--white);

  cursor: pointer;
  transition: 0.2s;
}

h1 > a {
  text-decoration: inherit;
  color: inherit;
  font-weight: inherit;
}

@media (hover: hover) {
  a:hover {
    color: hsla(0, 0%, 100%, 0.7);
  }
}

button {
  cursor: pointer;
}

img,
svg {
  display: block;
}

/* TEXTS */
h1,
h2 {
  font-size: 3rem;
  line-height: 89.5%;
  text-transform: uppercase;

  font-weight: bold;

  text-shadow: 0px 3px 1px var(--color-text--dark);
}

h2 > .small {
  font-size: 0.5em;
}

h3,
.h3 {
  font-size: 1.5rem;
  line-height: 102%;
  text-transform: uppercase;

  font-weight: bold;

  text-shadow: 0px 2px 1px var(--color-text--dark);
}

h4,
.h4 {
  font-size: 1rem;
  line-height: 102%;

  font-weight: bold;

  text-shadow: 0px 1px 1px var(--color-text--dark);
}

/* FORMS */
.form-1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form-1.loading {
  opacity: 0.6;
  pointer-events: none;
}

/* INPUTS */
.input-1,
.textarea-1 {
  width: 100%;
  max-width: 700px;

  padding: 0.6em 0.75em;

  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 1;
  font-family: 'Space Mono', monospace;

  border: none;

  background: var(--color-text);
  color: var(--black);

  box-shadow: 0px 3px 0px var(--color-text--dark);
  border-radius: 15px;
}
.input-1::placeholder,
.textarea-1::placeholder {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 1;
  font-family: 'Space Mono', monospace;

  color: var(--blue--dark60);
}

.textarea-1 {
  resize: none;
  line-height: 1.5;
}

/* LABELS */
label {
  display: block;
  font-size: 0.8rem;
}

label.required:after {
  content: '*';
  color: red;
}

/* BUTTONS */
.button-1 {
  display: block;

  width: 100%;
  max-width: 700px;

  padding: 0.6em 0.75em;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;

  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  border: none;

  background: var(--color-text);
  color: var(--black);

  box-shadow: 0px 3px 0px var(--color-text--dark);
  border-radius: 15px;

  transition: all 0.1s ease-in-out, opacity 0.2s ease-in-out;
}
.button-1:hover {
  transform: translateY(-1px);
  box-shadow: 0px 4px 0px var(--color-text--dark);
  opacity: 0.9;
  color: var(--black);
}
.button-1:active {
  transform: translateY(3px);
  box-shadow: 0px 0px 0px var(--color-text--dark);
}

.button-2 {
  padding: 0;

  border: none;
  background: none;

  border-radius: 50%;
  box-shadow: 0 2px 0 var(--blue--dark60);

  transition: all 0.1s ease-in-out, border 0.2s ease-in-out;
}
.button-2:hover {
  transform: translateY(-1px);
  box-shadow: 0 3px 0 var(--blue--dark60);
  opacity: 0.9;
}
.button-2:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0 var(--blue--dark60);
}

/* LINKS */
.link--img > img {
  width: 100%;
}

.link-1 {
  text-decoration: underline;
  color: var(--white);

  font-style: none;

  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.4em;
}

/* code */
.code--form {
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  word-break: break-word;
  -ms-word-break: break-all;
  word-wrap: break-word;

  padding: 1rem 2.6rem;

  border-radius: 8px;

  background-color: var(--blue--darker);
}
.code--form::before,
.code--form::after {
  content: '<your-input>';
  font-weight: bold;

  display: block;
  transform: translateX(-1.2rem);
}
.code--form::after {
  content: '</your-input>';
}

.code__title {
  font-weight: bold;
  font-size: 0.7em;
}

/* CALL TO ACTION */
.call-to-action--scroll {
  position: absolute;
  bottom: 110px;

  animation: float-down 3s infinite ease-in-out;
}
@keyframes float-down {
  0% {
    transform: translateY(0) scale(1);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%) scale(0.9);
  }
  60% {
    transform: translateY(80%) scale(0.9);
  }
  80% {
    transform: translateY(0) scale(1);
  }
}

/* SECTIONS */
section {
  min-height: 100vh;

  padding: var(--vertical--padding) var(--horizontal--padding);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-background);
  color: var(--color-text);

  scroll-snap-align: start;

  position: relative;
  overflow: hidden;
  z-index: 1;
}

section > .wrapper {
  width: 100%;
  max-width: var(--site-max-width);

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 1.5rem;
}

/* SKILLS */
.skills-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.skills__row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem 0.5rem;
}

.skill--big,
.skill--small {
  --color: var(--blue--light);
  background-color: var(--color);
  color: var(--black);

  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3), 0px 3px 0px var(--color);

  border-radius: 22px;

  padding: 0.3rem 1.1em;

  font-size: 1rem;
  text-align: center;
}

.skill--small {
  padding: 0.1em 0.8em;

  font-size: 1rem;
}

.mt--normal {
  margin-top: 1rem;
}
