@import './base.css';

#app {
  max-height: 100vh;
  overflow-y: scroll;
  /* scroll-snap-type: y proximity; */
}
#app > * {
  animation: site-load 0.4s forwards ease-in-out;
}
@keyframes site-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* GENERAL */
a {
  text-decoration: underline;
  color: var(--white);

  cursor: pointer;
  transition: 0.2s;
}

@media (hover: hover) {
  a:hover {
    color: hsla(0, 0%, 100%, 0.2);
  }
}

button {
  cursor: pointer;
}

button img,
a img {
  display: block;
}

/* TEXTS */
h1,
h2 {
  font-size: 3rem;
  line-height: 89.5%;

  font-weight: bold;

  text-shadow: 0px 3px 1px var(--color-text--dark);
}

h2 > .small {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 102%;

  font-weight: bold;

  text-shadow: 0px 2px 1px var(--color-text--dark);
}

h4 {
  font-size: 1rem;
  line-height: 102%;

  font-weight: bold;

  text-shadow: 0px 1px 1px var(--color-text--dark);
}

/* SECTIONS */
section {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 1.5rem;

  padding: var(--vertical--padding) var(--horizontal--padding);

  background-color: var(--color-background);
  color: var(--color-text);

  scroll-snap-align: start;
}
